* {
    box-sizing: border-box;
}

body {}

.board {
    width: 300px;
    overflow: hidden;
}

.board_difficulty_easy .board__option {
    width: 33.33%;
    padding-bottom: 33.33%;
}

.board_difficulty_medium .board__option {
    width: 25%;
    padding-bottom: 25%;
}

.board_difficulty_hard .board__option {
    width: 20%;
    padding-bottom: 20%;
}

.board__option {
    float: left;
    height: 0;
    border: 1px solid #000;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
}