* {
    box-sizing: border-box;
}

.board {
    width: 400px;
    border: 1px solid #eee;
    overflow: hidden;
}

.board_difficulty_easy .board__option {
    width: 33.33%;
    padding-bottom: 33.33%;
}

.board_difficulty_medium .board__option {
    width: 25%;
    padding-bottom: 25%;
}

.board_difficulty_hard .board__option {
    width: 20%;
    padding-bottom: 20%;
}

.board__option {
    float: left;
    height: 0;
    border: 1px solid #eee;
    position: relative;
    color: white;
}

.board__option_player_1 {
    background: blue;
}

.board__option_player_2 {
    background: red;
}

.board__option_winner {
    background: black;
}